<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class='page-header'>
        <div>
                <br />
                <ul style='float: left;'>
                        <li>Company Name: Acme org</li>
                        <li>Contact Name: Sir. E. Example</li>
                        <li>E-mail: info@example.com</li>
                        <li>Phone: 000x111xxx</li>
                        <li>Address: ....</li>
                        <li></li>
                </ul>
                <ul style='float: right;'>
                        <li>Last panel login: ??</li>
                        <li>Billing status: ???</li>
                        <li>Action X</li>
                        <li></li>
                </ul>
        </div>
<tmpl_var name="dashlets">

                <h1><tmpl_var name="list_head_txt"></h1>
</div>

<p><tmpl_var name="list_desc_txt"></p>

        <legend>Client info</legend>
<pre>

<tmpl_var name="foo">
</pre>
