<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class='page-header'>
        <legend>Reseller info</legend>
        <div>
                <ul>
                        <li>Company Name: {tmpl_var name='company_name'}</li>
                        <li>Contact Name: {tmpl_var name='contact_name'}</li>
                        <li>E-mail: <a href="mailto:{tmpl_var name='email'}">{tmpl_var name='email'}</a></li>
                        <li>Login as:
                                                        <tmpl_if name="is_admin">
                                                                        <a class="btn btn-default formbutton-success formbutton-narrow" data-load-content="login/login_as.php?cid={tmpl_var name='id'}"><span class="icon icon-loginas"></span></a>
                                                        <tmpl_elseif name="is_reseller">
                                                                        <a class="btn btn-default formbutton-success formbutton-narrow" data-load-content="login/login_as.php?cid={tmpl_var name='id'}"><span class="icon icon-loginas"></span></a>
                                                        </tmpl_if>
                                                </li>
                </ul>
         </div>


<tmpl_var name="dashlets">

</div>


